/wp-content/themes/skinelly/node/node_modules
/wp-content/themes/skinelly/node/package-lock.json
/wp-content/themes/skinelly/node/src/.eslintignore
/wp-content/themes/skinelly/node/src/.eslintrc.json
/wp-content/themes/skinelly/node/src/.postcss-sorting.json
/wp-content/themes/skinelly/node/src/.prettierrc.json
/wp-content/themes/skinelly/node/src/.stylelintignore
/wp-content/themes/skinelly/node/src/.stylelintrc.json
/wp-content/themes/skinelly/node/package-lock.json
/wp-content/themes/skinelly/public/public.css.map
/wp-content/themes/skinelly/public/public.js.map
/wp-content/themes/skinelly/theme.zip
/wp-content/themes/skinelly_my
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentythree
/wp-content/themes/index.php
/wp-content/upgrade
/wp-content/backups-dup-lite
/wp-content/ai1wm-backups
/wp-content/debug.log

/wp-admin/
.htaccess
/wp-content/cache
/wp-content/languages/
/wp-content/plugins/
/wp-content/uploads/
/wp-content/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/xmlrpc.php
/.gitignore
