@import "const.scss";

.catalog__products-wrapper,
.catalog__categories-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @media screen and #{$ipadv}{
    gap: 15px;
  }
  @media screen and (max-width: 700px), (max-width: 850px) and (max-height: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

}

.catalog__product,
.catalog__category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0 103px 41px rgba(153, 153, 153, 0.01), 0px 58px 35px rgba(153, 153, 153, 0.05), 0px 26px 26px rgba(153, 153, 153, 0.09);
  border-radius: 6px;
  padding: 25px 25px 45px;
  text-decoration: unset;

  .button {
    margin-top: 25px;
    @media screen and #{$ipadv}{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (max-width: 700px), (max-width: 850px) and (max-height: 500px) {
      font-size: 10px;
    }

  }
}

.catalog__prop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 50px;
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 700px), (max-width: 850px) and (max-height: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  &-item {
    &:before {
      content: url("img/check_round.svg");
      display: block;
      margin-bottom: 15px;
    }
  }

  &-title {
    font-size: calc(18px + (20 - 18) * ((100vw - 360px) / (1920 - 360)));
    margin-bottom: 15px;
    font-weight: 600;

  }
}

.catalog__prop-item-main::before {
  display: none;
}

/*old*/
.catalog {
  &__text-descr {
    margin-bottom: 6rem;
  }

  &__text-descr-wrapper {
    color: #323232;

    & p,
    & ul {
      margin-bottom: 0;
    }

    & p,
    & li {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2.8rem;

      @media screen and #{$ipadg}{
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }

    & > * + * {
      margin-top: 2rem;

      @media screen and #{$ipadv}{
        margin-top: 1rem;
      }
    }

    & ul {
      padding-left: 2.5rem;
      list-style: circle;
    }

    @media screen and #{$ipadv}{
      margin-bottom: 4rem;
    }
  }

  &__tag-tiles {
    margin-bottom: 6rem;

    @media screen and #{$ipadv}{
      margin-bottom: 4rem;
    }
  }

  &__tag-tiles-wrapper {
    flex-wrap: wrap;
    --gap: 2rem;
    display: flex;
    margin: calc(var(--gap) * -1) 0 0 calc(var(--gap) * -1);

    @media screen and #{$ipadv}{
      --gap: 1rem;
    }
  }

  &__tag-tile {
    display: flex;
    align-items: center;
    margin: var(--gap) 0 0 var(--gap);
    background-color: #003150;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s background-color ease;
    border-radius: 10px;
    text-align: center;

    &:hover {
      background-color: #86d0ff;
    }
  }

  &__tag-tile-entity {
    min-width: 15rem;
    padding: 1.2rem 3.6rem;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.8rem;

    @media screen and #{$ipadv}{
      min-width: 10rem;
      padding: 1rem 2.6rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    &--type {
      &--button {
        cursor: pointer;
        background-color: transparent;
        border: none;
      }

      &--link {
        text-decoration: none;
      }
    }
  }
}