@import "const.scss";

.events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: 120%;
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 360px) / (1920 - 360)));
  margin-right: auto;
  margin-left: auto;
  @media screen and #{$i992}{
    max-width: 620px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 700px), (max-width: 850px) and (max-height: 500px) {
    max-width: 290px;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

.events-title-section {
  font-size: calc(20px + (26 - 20) * ((100vw - 360px) / (1920 - 360)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 360px) / (1920 - 360)));
}

.events-image {
  display: block;
  height: calc(200px + (390 - 200) * ((100vw - 360px) / (1920 - 360)));
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0px 26px 26px 0px rgba(153, 153, 153, 0.09), 0px 58px 35px 0px rgba(153, 153, 153, 0.05), 0px 103px 41px 0px rgba(153, 153, 153, 0.01), 0px 160px 45px 0px rgba(153, 153, 153, 0.00);
  overflow: hidden;
  @media screen and #{$i992}{
    height: 280px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.events-wrap-title {
  border-bottom: 1px solid $blackBold;
  margin-bottom: 10px;
}

.events-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.events-date {
  color: var(--product-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.events-city {
  margin-bottom: 10px;
}

.events-text {
  p:last-child {
    margin-bottom: 0;
  }

  b {
    font-weight: 600;
  }
}

.events-btn {
  margin-top: calc(20px + (30 - 20) * ((100vw - 360px) / (1920 - 360)));
}


