@import "const.scss";

.news_speakers {
  .news-item {
    display: flex;
    flex-direction: column;
  }

  .news-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .news-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: unset;
  }

  .news-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    p {
      margin-bottom: 10px;
      font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}