@import "const.scss";

html {
  font-size: 10px;
  font-weight: 500;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $black;
}

img {
  height: auto;
  max-width: 100%;

  &.aligncenter {
    display: block;
    margin: 0 auto 1rem;
  }

  &.alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  &.alignright {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }


  &.lozad {
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;

    &[data-loaded="true"] {
      opacity: 1;
    }
  }
}

[data-fancybox] {
  cursor: pointer;
}

.loading {
  max-height: 100%;
  background: url("./img/loader.svg") center center no-repeat, rgba(0, 0, 0, 0.1);
}

a {
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: calc(10px + (15 - 10) * ((100vw - 360px) / (1920 - 360)));
  font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: 120%;

  &:last-child {
    margin-bottom: 0;
  }

  b {
    font-weight: 600;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 1rem;
  font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: 120%;
}

.editor {
  ul li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--product-color);
    }

    > ul li {
      margin-bottom: unset;
      margin-top: 1rem;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 7px;
        height: 7px;
        border: 1px solid var(--product-color);
        background: #fff;
      }
    }
  }
}


.swiper-pagination {
  pointer-events: all !important;
}


.title-section {
  text-align: center;
  text-transform: uppercase;

  &_about {
    text-transform: unset;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 120%;
  color: $blackBold;
}

h1 {
  font-size: calc(20px + (30 - 20) * ((100vw - 360px) / (1920 - 360)));;
  margin-bottom: 3rem;
  @media screen and #{$i992}{
    margin-bottom: 2rem;
  }

  &.main-h1 {
    font-size: calc(40px + (70 - 40) * ((100vw - 360px) / (1920 - 360)));;
    line-height: 60%;

    small {
      font-size: calc(20px + (30 - 20) * ((100vw - 360px) / (1920 - 360)));;
      line-height: 100%;

    }
  }

  @media screen and #{$ipadv}{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  @media screen and #{$ipadv}{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: 2.6rem;
  margin-bottom: 2.6rem;
  @media screen and #{$ipadv}{
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
  @media screen and #{$ipadv}{
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  @media screen and #{$ipadv}{
    font-size: 1.6rem;
  }
}

h6 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;

}

.mb-block {
  margin-bottom: 30px;
  @media screen and (max-width: 700px), (max-width: 850px) and (max-height: 500px) {
    margin-bottom: 15px;
  }

}

.resize {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}


.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.18;
  color: #fff;
  padding: .8rem 2.5rem;
  border-radius: 4px;
  border: 1px solid $blue;
  background: $blue;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  svg {
    margin-right: 10px;
  }

  &.button_tel {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:before {
      content: url("./img/telegram_w.svg");
      margin-right: 8px;
    }

    &:hover:before {
      content: url("./img/telegram_b.svg");
    }
  }

  &:disabled {
    background: #CCCCCC !important;
    color: #fff !important;
  }

  &:hover {
    background: #fff !important;
    border: 1px solid $blue !important;
    color: $blue;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }

  &.button_tr {
    background: transparent;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
      border: 1px solid $blue;
      background: $blue !important;
      color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease;
    }
  }

  &.button_white {
    background: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    color: $black;


    &:hover {
      border: 1px solid $blue;
      background: #fff !important;
      color: $blue !important;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease;
    }

    &:active {
      background: #D9EEFF;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease;
    }

  }
}

/* Блок нумерации страниц */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 100%;
  margin-right: auto;
  margin-left: auto;

  span, a {
    display: block;
    margin: 0 7px;
    padding: 10px 15px;
    text-decoration: none;
    width: auto;
    color: $blackBold;
    border: 1px solid $blackBold;
    filter: drop-shadow(0px 103px 41px rgba(153, 153, 153, 0.01)) drop-shadow(0px 58px 35px rgba(153, 153, 153, 0.05)) drop-shadow(0px 26px 26px rgba(153, 153, 153, 0.09));
    border-radius: 6px;
    transition: background .15s ease-in-out;

    &:hover {
      border: 1px solid var(--product-color);
    }

    &.dots:hover {
      border: 1px solid $blackBold;
    }
  }

  .current {
    border: 1px solid var(--product-color);
  }

  .next, .prev {
    display: flex;
    align-items: center;
    padding: 7px;

    &:hover svg path {
      stroke: var(--product-color);
    }
  }
}
